---
import { UpvoteContent } from "../components/UpvoteContent.tsx";
import UpvoteContentVue from "../components/UpvoteContent.vue";
import DefaultIslandLayout from "../layouts/DefaultIslandLayout.astro";
---

<DefaultIslandLayout>
    <UpvoteContent client:load>
        <ul slot="social-links">
            <li>
                <a href="https://twitter.com/understanding-astro">Twitter</a>
            </li>
            <li><a href="https://github.com/understanding-astro">GitHub</a></li>
        </ul>

        <em slot="description">An upvote counter created using React</em>
    </UpvoteContent>

    <UpvoteContentVue client:load>
        <ul slot="social-links">
            <li>
                <a href="https://twitter.com/understanding-astro">Twitter</a>
            </li>
            <li><a href="https://github.com/understanding-astro">GitHub</a></li>
        </ul>

        <em slot="description">An upvote counter created using Vue</em>
    </UpvoteContentVue>
</DefaultIslandLayout>
